{%extends 'online_store/base.html' %}
{% block title %}Добавить рассылку{% endblock %}
{% block show_mailing%} {% include 'online_store/menu.html' %}  {% endblock %}
{% block content %}
<div class="container mt-5">Добавить рассылку
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{% url 'mailing:mailing_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
