{%extends 'online_store/base.html' %}
{% block title %}{{publications.title}}{% endblock %}
{% block show_mailing%} {% include 'online_store/menu.html' %}  {% endblock %}
{% block content %}
<h1 class="text-center"> Получатель рассылок </h1>
<section class="py-5 text-center container">
    <div class="row py-lg-10">
        <div class="card" style="width: 40rem;">
            <img src="{{ publications.preview }}" width: 100px; height: 100px;>
            <div class="card-body">
                <h2 class="card-title">Email - {{mailing_recipient.email}}</h2>

            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Ф.И.О. - {{mailing_recipient.full_name}}</li>
                <li class="list-group-item">Комментарий - {{mailing_recipient.comment}}</li>

            </ul>
            <div class="card-body">
                {% if user.is_superuser or user.groups.filter(name='Пользователи').exists %}
                <a href="{% url 'mailing:mailing_recipient_edit' mailing_recipient.pk %}" class="btn btn-secondary">Редактировать</a>
                <a href="{% url 'mailing:mailing_recipient_delete' mailing_recipient.pk %}" class="btn btn-secondary">Удалить</a>
                {% endif %}
                <a href="{% url 'mailing:mailing_recipient_list' %}" class="btn btn-secondary">Вернуться к списку
                    получателей</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}