{%extends 'online_store/base.html' %}
{% block title %}Получатели рассылок{% endblock %}
{% block show_mailing%} {% include 'online_store/menu.html' %}  {% endblock %}
{% block content %}
<h1 class="text-center"> Получатели рассылок </h1>
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for mailing_recipient in object_list%}
            {% if user == mailing_recipient.owner%}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <a href="{% url 'mailing:mailing_recipient_detail' mailing_recipient.pk %}">Email - {{mailing_recipient.email}}</a>
                    <p class="card-text">Ф.И.О. - {{mailing_recipient.full_name}}</p>
                    <p class="card-text">Комментарий - {{mailing_recipient.comment |truncatechars:100}}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}