{%extends 'online_store/base.html' %}
{% block title %}Рассылка{% endblock %}
{% block show_mailing%} {% include 'online_store/menu.html' %}  {% endblock %}
{% block content %}
<h1 class="text-center"> Рассылка </h1>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for mailing in object_list%}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <a href="{% url 'mailing:mailing_detail' mailing.pk %}">Дата и время первой отправки - {{mailing.date_and_time_of_first_sending}}</a>
                    <p class="card-text">Дата и время окончания отправки - {{mailing.date_and_time_of_sending_end}}</p>
                    <p class="card-text">Статус - {{mailing.status}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}