
<li>
    <a href="{% url 'mailing:mailing_create' %}" class="nav-link px-0"> <span
            class="d-none d-sm-inline">Добавить рассылку</span> </a>
</li>

<li>
    <a href="{% url 'mailing:mailing_recipient_list' %}" class="nav-link px-0"> <span
            class="d-none d-sm-inline">Получатель рассылки</span> </a>
</li>

<li>
    <a href="{% url 'mailing:mailing_recipient_create' %}" class="nav-link px-0"> <span
            class="d-none d-sm-inline">Добавить получателя рассылки</span> </a>
</li>

<li>
    <a href="{% url 'mailing:message_list' %}" class="nav-link px-0"> <span
            class="d-none d-sm-inline">Сообщение</span> </a>
</li>


<li>
    <a href="{% url 'mailing:message_create' %}" class="nav-link px-0"> <span
            class="d-none d-sm-inline">Добавить Сообщение</span> </a>
</li>

