{%extends 'online_store/base.html' %}
{% block title %}Сообщение{% endblock %}
{% block show_mailing%} {% include 'online_store/menu.html' %}  {% endblock %}
{% block content %}
<h1 class="text-center"> Сообщение </h1>
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for message in object_list%}

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <a href="{% url 'mailing:message_detail' message.pk %}">Тема письма - {{message.subject_letter}}</a
                    <p class="card-text">Тело письма - {{message.body_letter |truncatechars:100}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}