{%extends 'online_store/base.html' %}
{% block title %}Сообщение{% endblock %}
{% block show_mailing%} {% include 'online_store/menu.html' %}  {% endblock %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-10">
        <div class="card" style="width: 40rem;">
            <img src="{{ publications.preview }}" width: 100px; height: 100px;>
            <div class="card-body">
                <h2 class="card-title" >Тема письма - {{message.subject_letter}}</h2>

            </div>
            <ul class="list-group list-group-flush">

                <li class="list-group-item">Тело письма - {{message.body_letter}}</li>
            </ul>
            <div class="card-body">
                <a href="{% url 'mailing:message_edit' message.pk %}" class="btn btn-secondary">Редактировать</a>
                <a href="{% url 'mailing:message_delete' message.pk %}" class="btn btn-secondary">Удалить</a>
                <a href="{% url 'mailing:message_list' %}" class="btn btn-secondary">Вернуться к списку</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}