{%extends 'online_store/base.html' %}
{% block title %}{{category.name}}{% endblock %}
{% block menu %} {% include 'online_store/menu.html' %}  {% endblock %}
{% block content %}
<h1 class="text-center"> {{category.name}} </h1>

<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in products %}
            <div class="card" style="width: 18rem;">
                <img src="{{ product.preview  }}" width="150" height="150">
                <div class="card-body">
                    <a href="{% url 'online_store:product_detail' product.pk %}">{{product.name}}</a>
                    <p class="card-text">{{product.description |truncatechars:100}}</p>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}