{%extends 'online_store/base.html' %}
{% block title %}Вход на сайт{% endblock %}
{% block show_store%} {% include 'online_store/menu.html' %}  {% endblock %}
{% block content %}
<div class="col-12">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">
                        Востановить пароль
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}