{%extends 'online_store/base.html' %}
{% block title %}{{category.name}}{% endblock %}
{% block menu %} {% include 'online_store/menu.html' %}  {% endblock %}
{% block content %}

<h2>{{category.name}}</h2>

<p class="card-text-break">{{category.description }}</p>

<a href="{% url 'online_store:category_list' %}" class="btn btn-secondary">Редактировать</a>
<a href="{% url 'online_store:category_list' %}" class="btn btn-secondary">Удалить</a>
<a href="{% url 'online_store:category_list' %}" class="btn btn-secondary">Вернуться к списку</a>
<a href="{% url 'online_store:category_product_detail' category.pk %}" class="btn btn-secondary"> список</a>

{% endblock %}
{% include 'templates/category_product_detail.html' %}