{%extends 'online_store/base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
<h1 class="text-center"> Главная </h1>
<h6 class="text-center text-muted mb-2">
    Вы находитесь на сайте, преднозначеном для продажи товаров
</h6>
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for category in object_list%}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <a href="{% url 'online_store:category_detail' category.pk %}">{{category.name}}</a>
                    <p class="card-text">{{category.description |truncatechars:100}}</p>

                    <a href="{% url 'online_store:category_detail' category.pk %}" class="btn btn-outline-primary">Подробнее</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}