{%extends 'online_store/base.html' %}
{% block title %}Категории{% endblock %}
{% block content %}
  <div class="col py-3">
            <h1 class="text-center"> Категории </h1>
            <div class="row">
{% for сategory in сategorys%}
                <div class="col-6">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{сategory.name}}</h5>
                            <p class="card-text">{{сategory.description}}.</p>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
