{%extends 'online_store/base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
      <h1 class="text-center"> Главная </h1>
            <h6 class="text-center text-muted mb-2">
                Вы находитесь на сайте, преднозначеном для продажи товаров
            </h6>
            <div class="album py-5 bg-body-tertiary">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col-4">
                            <div class="card">
                                {% for product in products%}
                                <div class="card-header">
                                    {{product.name}}
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{product.purchase_price}}</h5>
                                    <p class="card-text">{{product.description |truncatechars:100}} </p>
                                    <a href="contacts.html" class="btn btn-outline-primary">Купить</a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

