<li class="w-100">
    <a href="{% url 'online_store:category_list' %}" class="nav-link px-0"> <span
            class="d-none d-sm-inline">Категории</span> </a>
</li>
<li class="w-100">
    <a href="#" class="nav-link px-0"> <span
            class="d-none d-sm-inline">Заказы</span> </a>
</li>
<li>
    <a href="{% url 'online_store:product_create' %}" class="nav-link px-0"> <span
            class="d-none d-sm-inline">Создать Продукт</span> </a>
</li>
<li>
    <a href="{% url 'online_store:product_create' %}" class="nav-link px-0"> <span
            class="d-none d-sm-inline">Создать Продукт</span> </a>
</li>